/* reset css */
html, body, div, span,
h1, h2, h3, h4, h5, h6,
p, a, img, ol, ul, li,
article, aside, footer, header, hgroup,
menu, nav, section, address {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, footer, header, hgroup, menu, nav, section, address, div {
	display: block;
  box-sizing: border-box;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
     -moz-user-select: none;
      -ms-user-select: none;
}
