/* Colors */
$color-text-dark: #062234;
$color-text-grey: rgb(55, 55, 55);
$color-cream-white: #EFEEEE;
$color-shadow-dark: rgba(217, 210, 200, 0.65);
$color-shadow-light: rgba(255, 255, 255, 0.83);
$color-border-highlight: rgba(255, 255, 255, 0.20);

/* Sizes */
$size-small: 12px;
$size-medium: 24px;
$size-large: 48px;
$size-xlarge: 60px;
$size-xxlarge: 120px;
$small-width: 160px;
$medium-width: 400px;
$max-width: 1024px;

/* Font-sizes */
$fine-text: 14px;
$standar-text: 18px;
$large-text: 20px;
$xlarge-text: 24px;
$xxlarge-text: 30px;
$graphic-text: 200px;

/* Font-weight */
$thin-text: 300;
$regular-text: 400;
$bold-text: 600;
$xbold-text: 700;
